<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url 'mushroom-banner.png' %>)">
        Find your mushroom
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-4">
      <%= simple_form_for :mushrooom, url: mushrooms_path, method: :get do |f| %>
        <% mushroom_properties.map do |property| %>
          <%= select_tag property, options_for_select(instance_variable_get("@#{property}"), params[property.to_sym]), class: "dropdown" , prompt: property, include_blank: false %>
        <% end %>
        <%= button_tag "submit", class: "btn btn-flat btn-filter" do %>
          <i class="fa-solid fa-filter"></i> Filter
        <% end %>
      <% end %>
      <%= link_to mushrooms_path, class: "btn btn-flat btn-filter" do %>
        <i class="fa-solid fa-xmark"></i> Reset
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% @mushrooms.each do |mushroom| %>
        <div class="card-product">
          <%= image_tag "mushroom.jpg", alt: "Mushroom" %>
          <div class="card-product-infos">
            <h2>Mushroom <%=mushroom.id %> </h2>
            <ul class="mushroom_list list-unstyled">
              <% mushroom.attributes.each do |key, value| %>
                <% next if %w[id created_at updated_at].include?(key) %>
                  <li><%= key %>: <%= value %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>
